@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');

body{
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
}


#main-header {
	background: rgb(139, 193, 255);
	color: white;
	height: 80px;
	
	width: 100%;
	left: 0;
	top: 0;
	position:absolute;
}	
	#main-header a {
		color: white;
	}
	
	

#logo-header {
	float: left;
	padding: 15px 0 0 30px;
}
	#logo-header .site-name {
		display: block;
		font-weight: 700;
		font-size: 1.4em;
	}

    #logo-header .site-desc {
		display: block;
		font-weight: 300;
		font-size: 0.8em;
		color: rgb(221, 221, 221);
	}

.logo-img {
    width: 40px;
    padding: 15px 0 0 30px;
    float: left;
}